{% extends "base.html" %}

{% block title %}Yeni Kullanıcı Ekle{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="mb-4">Yeni Kullanıcı Ekle</h1>
            <form method="POST" class="p-4 rounded-3" style="background-color: var(--light-dark-color);">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.username(class="form-control", placeholder="Kullanıcı Adı") }}
                    {{ form.username.label }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class="form-control", placeholder="Şifre") }}
                    {{ form.password.label }}
                </div>
                <div class="form-check form-switch mb-3">
                    {{ form.can_delete(class="form-check-input") }}
                    {{ form.can_delete.label(class="form-check-label") }}
                </div>
                <div class="form-check form-switch mb-3">
                    {{ form.can_edit(class="form-check-input") }}
                    {{ form.can_edit.label(class="form-check-label") }}
                </div>
                <div class="form-check form-switch mb-3">
                    {{ form.can_add_user(class="form-check-input") }}
                    {{ form.can_add_user.label(class="form-check-label") }}
                </div>
                <div class="d-grid mt-4">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}