<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
            rel="stylesheet"
        />

        <title>
            {% block title %}Humat Fansub - Anime İzleme Platformu{% endblock %}
        </title>

        <!-- Meta Etiketler -->
        <meta
            name="description"
            content="Humat Fansub, Hacettepe Üniversitesi'ne ait bir topluluk olup, anime çevirileri ve izleme hizmeti sunar."
        />
        <meta
            name="keywords"
            content="Humat Fansub, anime izle, anime çevirileri, Hacettepe Üniversitesi, anime topluluğu"
        />
        <meta name="author" content="Humat Fansub" />

        <!-- Open Graph Etiketleri -->
        <meta
            property="og:title"
            content="Humat Fansub - Anime İzleme Platformu"
        />
        <meta
            property="og:description"
            content="Humat Fansub, Hacettepe Üniversitesi'ne ait bir topluluk olup, anime çevirileri ve izleme hizmeti sunar."
        />
        <meta
            property="og:image"
            content="{{ url_for('static', filename='images/logo.png') }}"
        />
        <meta property="og:type" content="website" />

        <!-- CSS Bağlantıları -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Kaushan+Script&display=swap"
            rel="stylesheet"
        />

        <link
            rel="icon"
            href="{{ url_for('static', filename='images/ico.ico') }}"
            type="image/x-icon"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
    </head>

    <body class="bg-dark text-light">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a
                    class="navbar-brand navbar-brand-logo"
                    href="{{ url_for('index') }}"
                >
                    <img
                        src="{{ url_for('static', filename='images/logo.png') }}"
                        alt="Logo"
                    />
                    <span>Humat Fansub</span>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}"
                                >Ana Sayfa</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}"
                                >AdminGiris</a
                            >
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin') }}"
                                >Admin Paneli</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"
                                >Çıkış Yap</a
                            >
                        </li>
                        {% else %} {% endif %}
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="#footer"
                                onclick="highlightFooter()"
                                >SSS/FAQ</a
                            >
                        </li>
                    </ul>
                    <!-- Arama Formu -->
                    <form
                        class="form-inline my-2 my-lg-0"
                        action="{{ url_for('search') }}"
                        method="GET"
                    >
                        <input
                            class="form-control mr-sm-2"
                            type="search"
                            name="query"
                            placeholder="Arama"
                            aria-label="Search"
                        />
                        <button
                            class="btn btn-outline-light my-2 my-sm-0"
                            type="submit"
                        >
                            Ara
                        </button>
                    </form>
                </div>
            </nav>
        </header>

        <main class="container mt-4">{% block content %}{% endblock %}</main>

        <footer id="footer" class="text-center mt-4">
            <p>
                <a
                    href="{{ url_for('copyright') }}"
                    onclick="highlightFooter()"
                >
                    <i class="bi bi-c-circle"></i>Copyright/DMCA/SSS/FAQ
                </a>
            </p>
            <p>
                <a href="https://discord.gg/SaKSmuZkAf">
                    <i class="bi bi-discord"></i> Discord
                </a>
            </p>
            <p>
                <a
                    href="https://github.com/Berke-aras/AnimeFansub-Dizi-Film-Platformu"
                    target="_blank"
                >
                    <i class="bi bi-github"></i> GitHub
                </a>
            </p>
        </footer>

        <script>
            function highlightFooter() {
                const footer = document.getElementById("footer");
                footer.classList.add("glow");
                setTimeout(() => {
                    footer.classList.remove("glow");
                }, 1000); // Animasyon süresi ile aynı olmalı
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
