{% extends "base.html" %} {% block title %}Bölüm Düzenle:{% endblock %} {% block
content %}
<div class="container">
    <h1>Bölüm Düzenle: {{ episode.number }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="number">Episode Number</label>
            {{ form.number(class="form-control", id="number") }}
        </div>
        <div class="form-group">
            <label for="sources">Sources (Comma separated iframe URLs)</label>
            {{ form.sources(class="form-control", id="sources") }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %} {% block footer %}
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            {% if current_user.can_add_user %}
            <div class="col-md-4 mb-2">
                <a href="{{ url_for('users') }}" class="btn btn-info btn-block"
                    >Kullanıcılar</a
                >
            </div>
            {% endif %} {% if current_user.can_add_user %}
            <div class="col-md-4 mb-2">
                <a
                    href="{{ url_for('view_logs') }}"
                    class="btn btn-info btn-block"
                    >Loglar</a
                >
            </div>
            {% endif %} {% if current_user.can_add_user %}
            <div class="col-md-4 mb-2">
                <a
                    href="{{ url_for('add_user') }}"
                    class="btn btn-info btn-block"
                    >Kullanıcı Ekle</a
                >
            </div>
            {% endif %}
        </div>
    </div>
</footer>
{% endblock %}
