{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
    <h2 class="mb-4">İşlem Kayıtları</h2>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tarih</th>
                    <th>Kullanıcı</th>
                    <th>İşlem</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            <tbody style="color: aliceblue !important">
                {% for log in logs.items %}
                <tr>
                    <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ log.user.username }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            {% if logs.has_prev %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="{{ url_for('view_logs', page=logs.prev_num) }}"
                    aria-label="Previous"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %} {% for page_num in range(1, logs.pages + 1) %}
            <li
                class="page-item {% if page_num == logs.page %}active{% endif %}"
            >
                <a
                    class="page-link"
                    href="{{ url_for('view_logs', page=page_num) }}"
                    >{{ page_num }}</a
                >
            </li>
            {% endfor %} {% if logs.has_next %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="{{ url_for('view_logs', page=logs.next_num) }}"
                    aria-label="Next"
                >
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %} {% block footer %}
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            {% if current_user.can_add_user %}
            <div class="col-md-4 mb-2">
                <a href="{{ url_for('users') }}" class="btn btn-info btn-block"
                    >Kullanıcılar</a
                >
            </div>
            {% endif %} {% if current_user.can_add_user %}
            <div class="col-md-4 mb-2">
                <a
                    href="{{ url_for('view_logs') }}"
                    class="btn btn-info btn-block"
                    >Loglar</a
                >
            </div>
            {% endif %} {% if current_user.can_add_user %}
            <div class="col-md-4 mb-2">
                <a
                    href="{{ url_for('add_user') }}"
                    class="btn btn-info btn-block"
                    >Kullanıcı Ekle</a
                >
            </div>
            {% endif %}
        </div>
    </div>
</footer>
{% endblock %}
