
{% extends "base.html" %}

{% block title %}Haberler{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Haberler</h1>
    <div class="row">
        {% for news_item in news_list %}
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm {% if news_item.is_pinned %}border-primary{% endif %}">
                <div class="card-body">
                    <div class="row">
                        {% if news_item.image_url %}
                        <div class="col-md-4">
                            <img src="{{ news_item.image_url }}" class="img-fluid rounded" alt="Haber Resmi" style="max-height: 200px; object-fit: cover;">
                        </div>
                        <div class="col-md-8">
                        {% else %}
                        <div class="col-md-12">
                        {% endif %}
                            <h2 class="card-title">{{ news_item.title }} {% if news_item.is_pinned %}<span class="badge bg-primary">Sabitlenmiş</span>{% endif %}</h2>
                            <p class="card-text text-muted">Yayınlanma Tarihi: {{ news_item.timestamp.strftime('%d-%m-%Y') }} | Yazar: {{ news_item.author.username }}</p>
                            <p class="card-text">{{ news_item.content|truncate(200, True) }}</p>
                            <a href="{{ url_for('view_news', news_id=news_item.id) }}" class="btn btn-primary">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col">
            <p>Henüz hiç haber yayınlanmamış.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
